---
---

@import "colors";
@import "../assets/css/sheet_color";

$page-height: 848px;
$page-width: 600px;

@font-face {
  src: url(" {{ '/assets/fonts/practice_fonts/PlaywriteDEGrund-ExtraLight.ttf' | relative_url }} ") format("truetype");
  font-family: "PlaywriteDEGrund";
}

.writing-exercise-line.PlaywriteDEGrund {
  font-family: "PlaywriteDEGrund";
}

@font-face {
  src: url(" {{ '/assets/fonts/practice_fonts/Charmonman-Regular.ttf' | relative_url }} ") format("truetype");
  font-family: "Charmonman";
}

.writing-exercise-line.Charmonman {
  font-family: "Charmonman";
}

@font-face {
  src: url(" {{ '/assets/fonts/practice_fonts/Allison-Regular.ttf' | relative_url }} ") format("truetype");
  font-family: "Allison";
}

.writing-exercise-line.Allison {
  font-family: "Allison";
}

@font-face {
  src: url(" {{ '/assets/fonts/practice_fonts/MrsSaintDelafield-Regular.ttf' | relative_url }} ") format("truetype");
  font-family: "MrsSaintDelafield";
}

.writing-exercise-line.MrsSaintDelafield {
  font-family: "MrsSaintDelafield";
}

@font-face {
  src: url(" {{ '/assets/fonts/practice_fonts/DeliusSwashCaps-Regular.ttf' | relative_url }} ") format("truetype");
  font-family: "DeliusSwashCaps";
}

.writing-exercise-line.DeliusSwashCaps {
  font-family: "DeliusSwashCaps";
}

@font-face {
  src: url(" {{ '/assets/fonts/practice_fonts/MeieScript-Regular.ttf' | relative_url }} ") format("truetype");
  font-family: "MeieScript";
}

.writing-exercise-line.MeieScript {
  font-family: "MeieScript";
}

@font-face {
  src: url(" {{ '/assets/fonts/practice_fonts/MeaCulpa-Regular.ttf' | relative_url }} ") format("truetype");
  font-family: "MeaCulpa";
}

.writing-exercise-line.MeaCulpa {
  font-family: "MeaCulpa";
}

@font-face {
  src: url(" {{ '/assets/fonts/practice_fonts/Calligraffitti-Regular.ttf' | relative_url }} ") format("truetype");
  font-family: "Calligraffitti";
}

.writing-exercise-line.Calligraffitti {
  font-family: "Calligraffitti";
}

@font-face {
  src: url(" {{ '/assets/fonts/practice_fonts/PlaywriteDEVA-Light.ttf' | relative_url }} ") format("truetype");
  font-family: "PlaywriteDEVA";
}

.writing-exercise-line.PlaywriteDEVA {
  font-family: "PlaywriteDEVA";
}

@font-face {
  src: url(" {{ '/assets/fonts/practice_fonts/Tangerine-Bold.ttf' | relative_url }} ") format("truetype");
  font-family: "Tangerine";
}

.writing-exercise-line.Tangerine {
  font-family: "Tangerine";
}

@font-face {
  src: url(" {{ '/assets/fonts/practice_fonts/GreatVibes-Regular.ttf' | relative_url }} ") format("truetype");
  font-family: "GreatVibes";
}

.writing-exercise-line.GreatVibes {
  font-family: "GreatVibes";
}

@font-face {
  src: url(" {{ '/assets/fonts/practice_fonts/PlaywriteCU-Light.ttf' | relative_url }} ") format("truetype");
  font-family: "PlaywriteCU";
}

.writing-exercise-line.PlaywriteCU {
  font-family: "PlaywriteCU";
}

@font-face {
  src: url(" {{ '/assets/fonts/practice_fonts/Sacramento-Regular.ttf' | relative_url }} ") format("truetype");
  font-family: "Sacramento";
}

.writing-exercise-line.Sacramento {
  font-family: "Sacramento";
}

.pdf-preview-container {
  user-select: none;
  cursor:crosshair;
  height: 306px;
  overflow: hidden;
  position: relative;
}

.pdf-preview-container.print  {
  width: $page-width !important;
  height: $page-height !important;
  overflow: visible !important;
}

.pdf-preview-container-wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid $border-color;
  width: 600px;
  max-width: 90%;
  background: $border-color;
  border-radius: 5px;
}

.pdf-preview-container-blur {
  transition: all 0.3s;
  position: fixed;
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
}


.font-box {
  cursor: crosshair;
  user-select: none;
  font-size: 36px;
  color: #171a21;
  border: 2px solid $border-color;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  text-align: left;
  display: grid;
  flex-direction: column;
}

.font-box .font-name {
  margin: 2px 5px 5px 5px;
}


.font-box .font-name svg {
  width: 140px;
  height: 100%;
  cursor:pointer;
}

.font-box .font-name .svg-wrap {
  display: flex;
}

.font-box .font-name strong {
  font-weight: 400;
}


hp {
  position: relative;
  margin: 0px 5px 0px 5px;
}

hp:after {
  content: " ";
}

.writing-exercise-sheet {
  background-color: #fff;
  z-index: -2;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  flex-wrap: wrap;
}

.writing-exercise-line {
  text-align: left;
  padding: 0px 10px;
  width: calc($page-width - 94px);
  border-style: solid;
  border-color: $line-color;
  border-width: 2px;
  border-radius: 5px;
}

.multi-lined {
  position: relative;
  --after-border-width: 2px;
  --after-top-margin: 9px;
}

.multi-lined:after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0px;
  border-bottom-color: $line-color;
  top: var(--after-top-margin);
  left: 0;
  border-bottom-width: var(--after-border-width);
  z-index: -1;
  border-bottom-style: dotted;
}

.legal-section {
  font-family: Rubik;
  text-align: center;
  font-size: 9px;
  line-height: 13px;
}